﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Load jQuery first -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://kit.fontawesome.com/f02f65c258.js" crossorigin="anonymous"></script>

    <!-- Load other scripts -->
    @Scripts.Render("~/Content/myScript.js")
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md my-nav p-0">
            <div id="div_container" class="container-fluid bg-light my-nb h-100">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/images/logo.png" class="d-flex:float-lg-start my-logo ms-4" alt="">
                </a>
                <button class="navbar-toggler my-toggler-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span>
                        <i class="fa-solid fa-list fa-lg"></i>
                    </span>
                </button>
                <p Class="FF_name m-0 fw-bold">FF FastFood</p>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
                        <li class="nav-item mt-2 mb-2 col-4 col-sm-3 col-md-3 col-lg-2 p-0">
                            <a href="@Url.Action("Index", "Food")" class="w-100 nav-link p-0 a-navbar">THỰC ĐƠN</a>
                        </li>
                        <li class="nav-item mt-2 mb-2 col-4 col-sm-3 col-md-3 col-lg-2 p-0">
                            <a href="" class="w-100 nav-link p-0 a-navbar">ƯU ĐÃI</a>
                        </li>
                        <li class="nav-item mt-2 mb-2 col-4 col-sm-3 col-md-3 col-lg-2 p-0">
                            <a href="" class="w-100 nav-link p-0 a-navbar">CÁI GÌ ĐÓ</a>
                        </li>
                        <li class="nav-item mt-2 mb-2 col-4 col-sm-3 col-md-3 col-lg-2 p-0">
                            <a href="" class="w-100 nav-link p-0 a-navbar">CHƯA BIẾT</a>
                        </li>
                    </ul>
                </div>
                <div id="div_icon">
                    <a class="text-decoration-none fs-3 icon-1 me-5 " href="@Url.Action("EditProfile", "MyAccount")">
                        <i class="fa-solid fa-user"></i>
                    </a>

                    <a class="text-decoration-none fs-3 icon-1" href="@Url.Action("Index", "Cart")">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <div class="container-fluid ps-5 pe-5 pt-5 pb-0 footer1">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="ftLogo">
                        <a href="index.html"><img src="~/images/logo.png" alt="" class="logo-footer me-2"></a>
                        <div class="footer-about">
                            <p class="gt_footer">Chúng tôi tự hào khi có thể mang đến cho mọi người nhiều loại đồ ăn nhanh ngon tuyệt vời số 1 Việt Nam</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="useful-link footer_content">
                        <h2>Useful Links</h2>
                        <ul class="use-links">
                            <li><a href="index.html"><i class="fa fa-angle-double-right"></i> Home</a></li>
                            <li><a href="about.html"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                            <li><a href="gallery.html"><i class="fa fa-angle-double-right"></i> Gallery</a></li>
                            <li><a href="contact.html"><i class="fa fa-angle-double-right"></i> Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="social-links footer_content">
                        <h2>Follow Us</h2>
                        <ul class="social-icons">
                            <li><a href=""><i class="fa fa-facebook-f"></i> Facebook</a></li>
                            <li><a href=""><i class="fa fa-lo fa-instagram"></i> Instagram</a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i> Linkedin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="address footer_content">
                        <h2>Address</h2>
                        <ul class="address-links">
                            <li class="address1"><i class="fa fa-location-dot"></i> Điện Biên Phủ, Phường 15, Bình Thạnh, Thành phố Hồ Chí Minh</li>
                            <li><a href=""><i class="fa fa-phone"></i> 84 838780712</a></li>
                            <li><a href=""><i class="fa fa-envelope"></i> mail@1234567.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>