@model FF_Fastfood.Models.FoodViewModel

@{
    ViewBag.Title = "Index";
    var slug = ViewBag.Slug as string;
}

<div data-bs-spy="scroll" data-bs-target="#category-nav" data-bs-offset="50" class="scrollspy-example ben-trong">
    <nav id="category-nav" class="navbar navbar-light bg-light p-0">
        <div class="container">
            <button id="scroll-left" class="btn position-absolute fw-bold" style="left: 0; font-size: 24px;"><</button>
            <div class="d-flex overflow-hidden" style="margin-left: 40px; margin-right: 40px; width: calc(100% - 80px);">
                <ul id="category-list" class="navbar-nav nav1 me-auto mb-lg-0 fw-bold flex-row">
                    <li class="nav-item col-5 col-sm-3 col-md-2 p-0">
                        <a class="nav-link w-100" href="#">Tất cả</a>
                    </li>
                    @foreach (var category in Model.Categories)
                    {
                        <li class="nav-item col-5 col-sm-3 col-md-2 p-0">
                            <a class="nav-link w-100" href="@Url.Action("Index", "Food", new { slug = category.slug })" data-target="@category.slug">@category.category_name</a>
                        </li>
                    }
                </ul>
            </div>
            <button id="scroll-right" class="btn position-absolute fw-bold" style="right: 0;font-size: 24px;">></button>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            @foreach (var category in Model.Categories)
            {
                <div id="@category.slug" class="row justify-content-start mt-5">
                    <h2 class="mt-4">@category.category_name</h2>
                    @foreach (var item in Model.Items.Where(x => x.category_name == category.category_name))
                    {
<<<<<<< Updated upstream
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mt-4">
=======
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-5">
>>>>>>> Stashed changes
                            <div class="card d-flex m-1 food-card">
                                <div class="row g-0 food-card">
                                    <div class="col-4 col-md-12">
                                        <div class="img-aspect-ratio">
                                            <img class="card-img-top img-fluid rounded-start" src="@item.image_url" alt="">
                                        </div>
                                        
                                    </div>
                                    <div class="col-8 col-md-12 d-flex">
                                        <div class="card-body flex-grow-1 d-flex flex-column">
                                            <h4 class="card-title">@item.name</h4>
                                            <p class="card-text d-none d-md-block">@item.description</p>
                                            <p class="card-text">@item.price.ToString("N0")đ</p>
                                            <div class="mt-auto text-end">
                                                <a href="#" class="btn btn-primary w-100 w-md-100" onclick="addToCart(@item.food_id)">Thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var slug = '@slug';
        if (slug) {
            var element = document.getElementById(slug);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth' });
                // Dịch lên 100px nếu cần
                window.scrollTo(0, element.offsetTop - 100);
            }
        }
    });
function addToCart(foodId) {
    $.ajax({
        type: "POST",
        url: '@Url.Action("AddToCart", "Cart")',
        data: { foodId: foodId },
        success: function (response) {
            if (response.success) {
                alert("Thêm vào giỏ hàng thành công!");
            } else {
                alert(response.message);
            }
        },
        error: function (xhr, status, error) {
            alert("Có lỗi xảy ra. Vui lòng thử lại.");
        }
    });
}
</script>




