@model FF_Fastfood.Models.Order

@{
    ViewBag.Title = "Order Success";
}



<div class="container mt-5 row my-order-success">
    <div class="text-center text-success pt-5">
        <h2>Order Success</h2>
        <h3>Thank you for your order!</h3>
    </div>
    <div class="your-order">
        <h3 class="text-success">Your Order</h3>
        <p>Order ID: @Model.order_id</p>
        <p>Order Date: @Model.order_date</p>
        <p>Total Amount: @Model.total_amount.ToString("N0") đ</p>
        <p>Phương thức thanh toán: <strong>@Model.Payments.First().payment_method</strong></p>
        <a href="/thuc-don" class="btn btn-success mt-3 mb-4">Tiếp tục mua sắm</a>
    </div>

    <div>
        <h3 class="text-success">Order Items</h3>
        <table class="table text-black">
            <thead>
                <tr>
                    <th>Ảnh</th>
                    <th>Tên</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Tổng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Order_Items)
                {
                    <tr>
                        <td><img src="@item.Food.image_url" alt="@item.Food.name" width="50" /></td>
                        <td>@item.Food.name</td>
                        <td>@item.quantity</td>
                        <td>@item.price.ToString("N0") đ</td>
                        <td>@((item.price * item.quantity).ToString("#,##0 đ") )</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
