@model FF_Fastfood.Models.PlaceOrderViewModel

@{
    ViewBag.Title = "Đặt Hàng";
    var totalAmount = Model.CartItems.Sum(item => item.Food.price * item.quantity);
}



<div class="container mt-5 pt-5 my-Form-Order">
    <h2 class="text-center text-success">Thông Tin Đặt Hàng</h2>
    <div class="">
        <form asp-action="PlaceOrder" method="post" class="row mt-5">
            <div class="col-md-4 d-flex flex-column align-items-center my-order-div">
                <h3 class=" my-title">Thông tin khách hàng</h3>
                <div class="form-group">
                    <label for="CustomerName">Tên Khách Hàng</label>
                    <input type="text" class="form-control" id="CustomerName" name="CustomerName" value="@Model.Customer.name" required />
                </div>
                <div class="form-group">
                    <label for="NewStreet">Số Nhà & Tên Đường</label>
                    <input type="text" class="form-control" id="NewStreet" name="NewStreet" required />
                </div>
                <div class="form-group">
                    <label for="NewWard">Phường</label>
                    <input type="text" class="form-control" id="NewWard" name="NewWard" required />
                </div>
                <div class="form-group">
                    <label for="NewDistrict">Quận/Huyện</label>
                    <input type="text" class="form-control" id="NewDistrict" name="NewDistrict" required />
                </div>
                <div class="form-group">
                    <label for="NewCity">Thành phố</label>
                    <input type="text" class="form-control" id="NewCity" name="NewCity" required />
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" value="@Model.Customer.email" required />
                </div>
                <div class="form-group">
                    <label for="Phone">Số Điện Thoại</label>
                    <input type="tel" class="form-control" id="Phone" name="Phone" value="@Model.Customer.phone" required pattern="[0-9]{10}" maxlength="10" />
                </div>
            </div>

            <div class="col-md-8 row">
                <div class="col-md-12">
                    <h4 class="text-success pt-3">Phương thức thanh toán:</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="cash" value="Thanh Toán Bằng Tiền Mặt" checked>
                        <label class="form-check-label" for="cash">
                            Tiền mặt
                        </label>
                    </div>
                    @*<div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="bank" value="Chuyển Khoản Ngân Hàng">
                        <label class="form-check-label" for="bank">
                            Ngân hàng
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="eWallet" value="Thanh Toán Qua Ví Điện Tử">
                        <label class="form-check-label" for="eWallet">
                            Ví điện tử
                        </label>
                    </div>*@
                </div>
                <div class="col-md-12 d-flex flex-column align-items-center pt-3 my-order-div-2">
                    <h3 class="my-title mt-5">Sản Phẩm Trong Giỏ Hàng</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>Tên</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th>Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td><img src="@item.Food.image_url" alt="@item.Food.name" width="50" /></td>
                                    <td>@item.Food.name</td>
                                    <td>@item.quantity</td>
                                    <td>@item.Food.price.ToString("N0") đ</td>
                                    <td>@((item.Food.price * item.quantity).ToString("#,##0 đ") )</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="total-amount mt-4">
                        <h4>Tổng tiền: @totalAmount.ToString("#,##0 đ")</h4>
                    </div>
                    <button type="submit" class="btn btn-primary">Đặt hàng</button>
                </div>

            </div>
        </form>
        
    </div>
</div>
